@import url('https://fonts.googleapis.com/css?family=Gruppo&display=swap');
.main-container {
   background-color: #121729;
   max-width: 300px;
   padding: 2em;
   margin: auto;
   border-width: 1em;
   border-style: outset;
   border-color: #373E42;
   position: fixed;
}

.image-one {
   width: 800px;
   min-width: 200px;
   max-width: 800px;
   height: 800px;
   position: fixed;
   left: 0px;
}

.image-two {
   width: 800px;
   min-width: 200px;
   max-width: 800px;
   height: 800px;
   position: fixed;
   left: 800px;
}

header {
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: #121729;
    font-family:'Gruppo','Roboto', sans-serif;
    height: 6em;
    width: 100%;
    text-align: right;
    border-width: .1em;
    border-style: outset;
    border-color: #373E42;
}

.menu-item, .site-name {
    display: inline-block;
    margin: 2em 1.2em;
    min-width: 9em;
    text-align: center;
    background-color: #11131a;
    padding: 0.5em 1em;
    border-width: .1em;
    border-style: outset;
    border-color: #373E42;
}

.menu-item a {
    color: #fff;
    text-decoration: none;
}

.menu-item:hover {
    background-color: #cd1c1c;
}
.site-name {
    float: left;
    left: 10px;
    padding-right: 1em;
    color: #cd1c1c;
}
.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    border: 1px solid #000;
    margin: 0.5em 0 0 -1em;
    color: #000;
    background-color: #aba9a9;
    z-index: 1;
}
.dropdown-content a {
    color: #000;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-item {
    display: block;
    text-align: left;
    margin: 0;
    padding: 0.5em 1em 0.5em 1em;
    min-width: 5.9em;
}

.dropdown-item:hover, .dropdown-item:hover a {
    color: #f11212;
    background-color: #0d0c0c;
}
